@import "tailwindcss";

@theme {
  --color-gray-light: #CCCCCC;
  --color-primary: #7695EC;
  --color-gray-dark: #777777;
  --color-red: #FF5151;
  --color-green: #47B960;
  --color-gray-medium: #999999;
}

body {  
  background: #DDDDDD;
  color: #000000;
}
